@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  margin: .5em;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  background-color: #333;
}

ul {
  max-width: 768px;
  font-size: 1.25em;
  list-style-type: none;
  padding-left: 0;
  margin: auto;
}

li {
  display: flex;
  flex-direction: column;
  margin-bottom: .5em;
  padding-bottom: .5em;
  background-color: #222;
  border-radius: .25em;
  box-shadow: 2px 2px 2px 0 #111;
}

.title {
  text-align: justify;
  background-color: #111;
  padding: .25em .5em .25em .5em;
  border-radius: .25em .25em 0em 0em;
  box-shadow: 0 1px 2px 0 #000;
}

.title a {
  display: block;
  color: #ccc;
  text-decoration: none;
}

.title a:hover {
  color: #fff;
}

.details {
  display: flex;
  justify-content: space-between;
  padding: .5em .5em 0 .5em;
}

.stats {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0 0 .2em 0;
}

img {
  border-radius: .25em;
}

.source {
  display: flex;
  padding: .25em .5em 0 .5em;
}